@{

    ViewData["Title"] = "Modulos";

}

<div class="container mt-5">
    <div class="card">
        <div class="card-body">

            <form asp-controller="Asistentes" asp-action="Pendientes" method="post">
            <div class="form-group">    
                <label for="">Modulo:</label>
                <select name="modulo" id="" class="form-select">
                @foreach(var modulo in ViewBag.Modulos){

                    <option value="@modulo.Id">@modulo.Nombre</option>
                }

                </select>
                <label for="">Categorias:</label>
                <select name="categoria" id="" class="form-select">
                @foreach(var categoria in ViewBag.Categoria){

                    <option value="@categoria.Nombre">@categoria.Nombre</option>
                }

                </select>
            </div><br>
            <div class="form group">
                <button class="btn btn-primary">Atender</button>
            </div>

            </form>
        </div>
    </div>
        
</div>